{% extends "base.html.twig" %}

{% block body %}
    <form method="post">

        {% include "layout/flash_message.html.twig" %}

        <h1 class="h3 mb-3 font-weight-normal">Create Participants</h1>
        <hr />

        {% include "participant/list_participants.html.twig" %}

        <label for="inputDescription">email of participants</label>
        <input type="email" name="email" id="inputDescription" class="form-control" required autofocus>

        <button class="btn btn-lg btn-primary" type="submit">
            Create Participant
        </button>
    </form>
{% endblock %}